:root {
  --main-dark-color: #212121;
  --main-light-color: #fff;
  --secondary-light-color: #d3d3d3;
  --main-font-family: 'Inter', sans-serif;
  --cursor-border-radius: 50%;
  --cursor-transition: 300ms ease;
  --cursor-width: 12px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
after,
before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  font-family: var(--main-font-family);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  margin-bottom: 0.7em;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.magnetic-framer {
  z-index: 10;
  position: relative;
}

